VITE_SUPABASE_URL=https://cyhaxwgauythcofpxdix.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN5aGF4d2dhdXl0aGNvZnB4ZGl4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0MDU5MjQsImV4cCI6MjA5Mzk4MTkyNH0.csiTwOnBxm79uUvoDAn6FzTe6b64j2Q_9v44ZaMiitk
